body{
    text-align:  center;
}
#din{
border-width: 100px;
border-color: black;
background-color: aqua;
text-align: center;
margin-right: 50px;
margin-left: 50px;
height: 500px;
width: 400px;

}
#image{
    width: 200px;
    height: 200px;
}
#outer{
    background-color: brown;
    text-align: center;
    align-items: center;
    padding-bottom:50px;
    padding-top: 20px;;
}
#hh{
    background-color: aquamarine;
    font-size: large;
    border-radius: 75px;
    width: 100px;
    height: 60px;
}
